
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/sideNav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/js/theme.js"></script>
    <script src="~/js/header.js"></script>


</head>
<body>
    <div class="sidenav">
        <a asp-area="" asp-controller="AppUsers" asp-action="AppUserHome">Home</a>
        <a asp-area="" asp-controller="AppUsers" asp-action="AppUserPayment">Payment</a>
        <a asp-area="" asp-controller="AppUsers" asp-action="AppUserOverdraft">Overdraft</a>
        <a asp-area="" asp-controller="AppUsers" asp-action="AppUserloan">Loans</a>
        <a asp-area="" asp-controller="AppUsers" asp-action="AppUserCard">Card</a>
        <a asp-area="" asp-controller="AppUsers" asp-action="AppUserTransaction">Transcations</a>
        <a asp-area="" asp-controller="AppUsers" asp-action="AppUserStatements">Statements</a>
        <a asp-area="" asp-controller="AppUsers" asp-action="AppUserDetail">Account Details</a>
        <a asp-area="" asp-controller="UserAuthenticationController" asp-action="Logout">Log out</a>
    </div>

    <div>
        <h4 style="margin-top: 10px;">This feature will be available soon, please come back later. </h4>

    </div>

</body>
</html>