@using myBankApplication.Data.Enum
@model TransactionModel
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/sideNav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/js/theme.js"></script>
    <script src="~/js/header.js"></script>
    <style>
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
        }

        .margin {
            margin: 10px;
        }

        * {
            box-sizing: border-box;
        }

        .column {
            align:center;
            width: 70%;
            padding: 10px;
            height: fit-content;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>

</head>
<body>
    <div class="sidenav">
        <a asp-area="" asp-controller="AppUsers" asp-action="AppUserHome">Home</a>
        <a asp-area="" asp-controller="AppUsers" asp-action="AppUserPayment">Payment</a>
        <a asp-area="" asp-controller="AppUsers" asp-action="AppUserOverdraft">Overdraft</a>
        <a asp-area="" asp-controller="AppUsers" asp-action="AppUserloan">Loans</a>
        <a asp-area="" asp-controller="AppUsers" asp-action="AppUserCard">Card</a>
        <a asp-area="" asp-controller="AppUsers" asp-action="AppUserTransaction">Transcations</a>
        <a asp-area="" asp-controller="AppUsers" asp-action="AppUserStatements">Statements</a>
        <a asp-area="" asp-controller="Account" asp-action="Detail">Account Details</a>
        <a asp-area="" asp-controller="UserAuthentication" asp-action="Logout">Log out</a>
    </div>
    <div class=" main">
        <div class="center">
            <nav>
                <a href="#">Transfer</a> |
                <a href="#">Deposit</a> |
                <a href="#">Withdraw</a>
            </nav>

        </div>

        <div>
             <a style="text-align:right;">Deposit Cheque</a> |
             <a asp-area="" asp-controller="AppUsers" asp-action="AppUserDepositCash">Deposit Cash</a> |

        </div>
        <div class="row">
            <div class="column" style="background-color:#aaa;">
                <h2>Source Account</h2>
                <form>
                    <div class="margin">
                        <input type="text" class="form-control" placeholder="Enter Account Number">
                        <span class="text-danger" asp-validation-for="AccountNo"></span>
                    </div>
                    <div class="col">
                        <select asp-for="TransactionType" asp-items="@Html.GetEnumSelectList<TransactionType>()" class="form-control">
                        </select>
                        <span asp-validation-for="TransactionType" class="text-danger"></span>
                    </div>

                    <div class="margin">
                        <input type="number" class="form-control" placeholder="Amount" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>




                </form>
            </div>


</body>
</html>