<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/sideNav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/js/theme.js"></script>
    <script src="~/js/header.js"></script>


</head>
<body>
    <div class="sidenav">

        @if (User.Identity.IsAuthenticated)
        {
            <a asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            <a asp-area="" asp-controller="AppUsers" asp-action="AppUserHome">Home</a>
            <a asp-area="" asp-controller="AppUsers" asp-action="AppUserPayment">Payment</a>
            <a asp-area="" asp-controller="AppUsers" asp-action="AppUserOverdraft">Overdraft</a>
            <a asp-area="" asp-controller="AppUsers" asp-action="AppUserloan">Loans</a>
            <a asp-area="" asp-controller="BankCard" asp-action="Index">Card</a>
            <a asp-area="" asp-controller="AppUsers" asp-action="AppUserTransaction">Transcations</a>
            <a asp-area="" asp-controller="AppUsers" asp-action="AppUserStatements">Statements</a>
            <a asp-area="" asp-controller="Account" asp-action="Detail">Account Details</a>
            <a asp-area="" asp-controller="UserAuthentication" asp-action="Logout">Log out</a>

        }

        else
        {
            <ul>
                <li>
                    <button class="Loginbtn"><a style="color:white;" asp-area="" asp-controller="UserAuthentication" asp-action="Login">Login</a></button>
                </li>
                <li>
                    <button class="Registerbtn"><a style="color:white;" asp-area="" asp-controller="UserAuthentication" asp-action="Registration">Signup</a></button>
                </li>
            </ul>
        }
    
    </div>
    
    <div class="main">
        <a asp-controller="Account" asp-action="Create">Create an Account</a>
        
    </div>

</body>
</html>