@model myBankApplication.ViewModels.AppUsersLoginModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/contactUs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/js/theme.js"></script>
    <script src="~/js/header.js"></script>

    <!-- Alret style when user credentials are not correct-->
    <style>
        .alertAuthentication {
            padding: 20px;
            background-color: #f44336;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
             color: black;
        }

    </style>

</head>

<body>

    <!--Contact form left contents-->
    <section>

        @if (TempData["Error"] != null)
        {
            <div class="alertAuthentication">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Sorry!- @TempData["Error"]</strong>
            </div>
        }
        <div class="rowContact">
            <div class="column">
                <h1 class="mega open-sans bold uppercase" style="width:100%;">
                    Serena Bank
                </h1>
                <p class="alpha lato thin thick-header-line uppercase ls-small">
                    Bank with differences
                </p>
                <div>
                    <img src="~/images/bulding.png" width="100%">
                </div>
            </div>
            <!--Contact form-->
            <div class="column">
                <form asp-action="Login">
                    <div style="text-align:left">
                        <h6>Log in to </h6>
                        <h1>Online Banking</h1>
                    </div><br /><br />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control">
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-success float right" type="submit" value="Log in" />
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>
    </section>
</body>
</html>



