@model myBankApplication.ViewModels.AppUsersLoginModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/contactUs.css">
    <link rel="stylesheet" href="~/css/Error.css">

</head>

<body>

    <!--Contact form left contents-->
    <section>

        @if (TempData["Error"] != null)
        {
            <div class="alertAuthentication">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Sorry!- @TempData["Error"]</strong>
            </div>
        }

        <form asp-action="Login" class="login">
            <div style="text-align:left">
                <h6>Log in to </h6>
                <h1>Online Banking</h1>
            </div><br /><br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input class="button" type="submit" value="Log in" />
                <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
            </div>
        </form>
    </section>
</body>
</html>



