@using myBankApplication.ViewModels
@model DepositChequeViewModel
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/sideNav.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/DepositTransactionAccount.css">
    <script src="https://kit.fontawesome.com/6703c9cc10.js" crossorigin="anonymous"></script>
<style>
.currency-wrap {
    position: relative;
}

.currency-code {
    position: absolute;
    left: 2px;
    top: 25px;
}

.text-currency {
    padding: 10px 20px;
    border: solid 1px #ccc;
    border-radius: 5px;
}
</style>

</head>
<body>

<div class="content">
<div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
    <div class="loginbackground box-background--white padding-top--64">
        <div class="loginbackground-gridContainer">
            <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
            </div>
            <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
                <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
            </div>
            <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
                <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
            </div>
            <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
                <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
            </div>
            <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
                <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
            </div>
            <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
                <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
            </div>
            <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
                <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
            </div>
            <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
                <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
            </div>
        </div>
    </div>
    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            <h1>Serena Bank</h1>
        </div>
        <div class="formbg-outer">
        <div class="formbg">
        <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Deposit Cheque</span>
            <form method="post" asp-action="Create" enctype="multipart/form-data">
                <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" />
              @*  <div class="field padding-bottom--24">
                    <label> Amount
                    <input asp-for="Amount" type="number" step="any" min="0" max="2000" class="form-control" placeholder="Amount">
                    <span class="text-danger" asp-validation-for="Amount"></span>
                     </label>
                </div>*@

                <div class = "currency-wrap">
                    <label>Amount
                    <span class="currency-code">£</span>
                    <input asp-for="Amount" type="number" step="any" min="0" max="2000" class="form-control" placeholder="Amount">
                    <span class="text-danger" asp-validation-for="Amount"></span>
                    </label>

                </div>
                <div class="field padding-bottom--24">
                    <input asp-for="Description" type="text" class="form-control" placeholder="Description">
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="field padding-bottom--24">
                    <label asp-for"Image">Please upload front of the cheque </label>
                    <input asp-for="FrontChequeImage" type="file" class="form-control form-control-lg" />
                    <span asp-validation-for="FrontChequeImage" class="text-danger"></span>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="field padding-bottom--24">
                    <label asp-for"Image">Please upload back of the cheque </label>
                    <input asp-for="BackChequeImage" type="file" class="form-control form-control-lg" />
                    <span asp-validation-for="BackChequeImage" class="text-danger"></span>
                </div>
                <button class="cta-button buttonColor" type="submit" value="Sgin up">Submit</button>

               @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <a style="background-color:#171238; color:white; line-height: normal; letter-spacing: 1px; font-size:1rem;
                        border-radius: 1.875em; font-weight: 700;padding: 0.8125em 1.875em;" asp-controller="AppUsers" asp-action="Index">Cancel</a>
                    }
                    else
                    {
                        <a style="background-color:#171238; color:white; line-height: normal; letter-spacing: 1px; font-size:1rem;
                        border-radius: 1.875em; font-weight: 700;padding: 0.8125em 1.875em;" asp-controller="AppUsers" asp-action="Balance">Cancel</a>
                    }

            </form>
        </div>
        </div>
        </div>
    </div>
</div>
</div>
</div>
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>



</body>
</html>
