@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/footerStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/js/theme.js"></script>


</head>

<body id="changeTheme">
<h1>Helpful answers</h1>
    <section>
        <nav class="wrapper">
            <ul>
                <h5>Choose your theme:</h5>
                <li><button onclick="white()">Default</button></li>
                <li><button onclick="black()">Black</button></li>
                <li><button onclick="purple()">Purple</button></li>
            </ul>
        </nav>

        <article>
            <h1 class="mega open-sans bold uppercase">
                Serena Bank
            </h1>
            <p class="alpha lato thin thick-header-line uppercase ls-small">
                Bank with a differences
            </p>
            <a class="cta-button buttonColor" href="#">Get started</a>
        </article>
    </section>
</body>
</html>