@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="~/css/home.css">
	<link rel="stylesheet" href="~/css/theme.css">
	<script src="~/js/theme.js"></script>
	
</head>
<body id="changeTheme">
	<nav>
		<button onclick= "white()">White</button>
		<button onclick="black()">Black</button>
		<button onclick="purple()">Purple</button>
	
	</nav>
	<section data-description="thin/bold">
		<div class="wrapper">
			<h1 class="mega open-sans bold uppercase">
				Serena Bank
			</h1>
			<p class="alpha lato thin thick-header-line uppercase ls-small">
				We do bank differently
			</p>
			<a class="cta-button buttonColor" href="#">Get started</a>
		</div>
	</section>
	
</body>
</html>
