@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="~/css/home.css">
	<link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="~/js/theme.js"></script>

	
</head>

<body id="changeTheme">

	<nav>
		<button onclick= "white()">Default</button>
		<button onclick="black()">Black</button>
		<button onclick="purple()">Purple</button>
	
	</nav>
	<section id="introMain" data-description="thin/bold">
		<div class="wrapper">
			<h1 class="mega open-sans bold uppercase">
				Serena Bank
			</h1>
			<p class="alpha lato thin thick-header-line uppercase ls-small">
				We do bank differently
			</p>
			<a class="cta-button buttonColor" href="#">Get started</a>
		</div>
	</section>


	
	
</body>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="single_footer">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Sterling </a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_footer single_footer_address">
                    <h4>Page Link</h4>
                    <ul>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">Log in</a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_footer single_footer_address">
                    <h4>Subscribe today</h4>
                    <div class="signup_form">
                        <form action="#" class="subscribe">
                            <input type="text" class="subscribe__input" placeholder="Enter Email Address">
                            <button type="button" class="subscribe__btn"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <div class="social_profile">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <p class="copyright">Copyright © 2023 <a href="#">Serena Bank</a>.</p>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</div>
</html>
