@model IEnumerable<BankCardModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-md-4">
    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
    {
        <a asp-controller="BankCard" asp-action="Create" class="btn btn-sm btn-outline-secondary">Create</a>
    }
        
    <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="~/images/logo.png" width="100%" height="225" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">s</p>
            <p class="card-text">sd</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="btn btn-success" asp-controller="BankCard" asp-action="Detail"> Detail</a>
                        


                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin")) {
                        <a asp-controller="BankCard" asp-action="Delete" class="btn btn-sm btn-outline-secondary">Delete</a>
                        <a asp-controller="BankCard" asp-action="Edit" class="btn btn-sm btn-outline-secondary">Edit</a>

                    }
                    
                </div>
                <small class="text-muted">sd</small>
            </div>
        </div>
    </div>
</div>