@using myBankApplication.ViewModels
@model CreateBankCardViewModel



<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/DepositTransactionAccount.css">
    <link rel="stylesheet" href="~/css/Error.css">
    <script src="https://kit.fontawesome.com/6703c9cc10.js" crossorigin="anonymous"></script>
</head>
@if (TempData["Error"] != null)
{
    <div class="alertAuthentication">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Sorry!- @TempData["Error"]</strong>
    </div>
}
@if (ViewData["Success"] != null)
{
    <div class="successAlert">
        <p>
            <strong>
                @ViewData["Success"]... <a asp-action="Index" asp-controller="AppUsers">
                    Please click here to go back to home page.
                </a>
            </strong>
        </p>
    </div>

}
<div class="formbg-outer">
    <div class="formbg">
        <div class="formbg-inner padding-horizontal--48">
    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
    {
     
            <div class="formbg-inner padding-horizontal--48">
                <span class="padding-bottom--15">Create a new bank card</span>
                <form method="post" asp-action="Create" enctype="multipart/form-data">

                    <div class="field padding-bottom--24">
                        <input asp-for="Account_Id" name = "Account_Id" id="Account_Id" type="text" class="form-control" placeholder="User Account Number">
                        <span class="text-danger" asp-validation-for="Account_Id"></span>
                    </div>

                    <button class="cta-button buttonColor" type="submit" value="Sgin up">Submit</button>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <a style="background-color:#171238; color:white; line-height: normal; letter-spacing: 1px; font-size:1rem;
                        border-radius: 1.875em; font-weight: 700;padding: 0.8125em 1.875em;" asp-controller="AppUsers" asp-action="Index">Cancel</a>
                        }
                        else
                        {
                            <a style="background-color:#171238; color:white; line-height: normal; letter-spacing: 1px; font-size:1rem;
                        border-radius: 1.875em; font-weight: 700;padding: 0.8125em 1.875em;" asp-controller="AppUsers" asp-action="Balance">Cancel</a>
                        }
                </form>

         </div>

    }
        </div>
    </div>
    </div>
</html>
