.HeaderBar {
    background-color:#192851;
    display: flex;
    padding: 3px 5%;
}

.None,
.LogoMenu,
.SwitchMenuMobile {
    display: none;
}

.LogoHeader > img {
    width:120px;
    padding: 10px 18px;
}

.LogoHeader {
    margin: auto 0;
}

li {
    display: block;
}

ul {
    display: flex;
}

.Loginbtn {
    background: none;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    color: white;
}

.Registerbtn {
    background: none;
    border: 1px solid;
    border-radius: 100px;
    padding: 10px 18px;
    font-size: 16px;
    color: white;
}

button,
.SwitchMenuMobile {
    cursor: pointer;
}

.Registerbtn:hover {
    background-color: #00a2ff;
    border-color: #00a2ff;
}

.MenuTitle > a {
    color: white;
    padding: 0 10px;
    text-decoration: auto;
    font-size: 16px;
}

.MenuHeader {
    margin: auto 0;
    margin-top:20px;
}

* {
    font-family: 'Inter', sans-serif;
}

.ButtonHeader {
    margin-left: auto;
    margin-top:12px;
}

.MenuMobile {
    width: 100%;
}

.BoxMenuMobile {
    display: flex;
    z-index: 99999;
}

@media screen and (max-width: 900px) {
    .SwitchMenuMobile {
        border: 1px solid;
        border-radius: 3px;
        color: white;
        width: 30px;
        height: 30px;
        margin: auto 0 auto auto;
    }

    .MenuMobile {
        margin-top: -3px;
        animation-name: open;
        animation-duration: 1s;
        right: 0%;
    }

    .CloseMenu {
        animation-name: close;
        animation-duration: 1s;
        right: 100%;
    }

    .BoxMenuMobile {
        display: block;
    }

    .SwitchMenuMobile > div {
        margin: 5.7px 4px;
        background-color: white;
        padding: 1px 2px;
    }

    .MenuMobile {
        z-index: 9999;
        background-color: #0000008c;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .BoxMenuMobile {
        width: 45%;
        background: #202020;
        height: 100%;
        position: absolute;
        right: 0px;
    }

    .LogoMenu > img {
        width: 70px;
    }

    .LogoMenu {
        width: 70px;
        margin: 25px auto;
    }

    .SwitchMenuMobile,
    .LogoMenu {
        display: block;
    }

    .ButtonHeader {
        position: absolute;
        right: 16px;
        bottom: 0;
    }

    .MenuTitle {
        text-align: right;
        margin: 16px 7px 0 0;
    }

    .MenuHeader > ul {
        display: block;
        margin-bottom: auto;
    }
}

@media screen and (min-width: 900px) {
    .MenuMobile {
        display: block !important;
    }
}

@media screen and (max-width: 550px) {
    .BoxMenuMobile {
        width: 60% !important;
    }
}

@media screen and (max-width: 380px) {
    .BoxMenuMobile {
        width: 85% !important;
    }
}

@keyframes open {
    from {
        right: 100%;
    }

    to {
        right: 0%;
    }
}

@keyframes close {
    from {
        right: 0%;
    }

    to {
        right: 100%;
    }
}
