
.mega {
    font-size: 4rem; /* 72 / 18 = 4 */
    margin-bottom: 0.4125rem;
    
    
}

.alpha {
    font-size: 3.33333rem; /* 60 / 18 = 3.3333 */
    margin-bottom: 0.495rem;
}

/* ==== Typefaces  ==== */

.open-sans {
    font-family: 'Open Sans';
  
}

.lato {
    font-family: 'Lato';
    color:aqua;
    color:#9c5ee3;

}


/* ==== Weights, styles, letterspacing, etc. ==== */

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 700;
    
}

.ls-small {
    letter-spacing: 2px;
}


/* ==== General styles ==== */

#introMain{
    
}


/* Get started button css*/
.cta-button {
      background: #9c5ee3;
      border-color: transparent;
      border-radius: 1.875em;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: normal; 
      margin: 15px auto; 
      padding: 0.8125em 1.875em;
      text-align: center;
      text-decoration: none;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      
    }
.buttonColor {
    background: #9c5ee3;
    color: white;
}

/* content home page*/

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    padding: 20px;
    margin-top:150px;
}

    /* Style the list inside the menu */
    nav ul {
        list-style-type: none;
        padding: 0;
    }


article {
    float: left;
    padding: 20px;
    width: 70%;
    margin-top: 100px;
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}




    /*Footer*/

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

    a,
    a:active,
    a:focus {
        
        text-decoration: none;
        transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-duration: .2s;
        -ms-transition-duration: .2s;
        -moz-transition-duration: .2s;
        -webkit-transition-duration: .2s;
        -o-transition-duration: .2s;
    }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 60px 0;
    /* min-height: 100vh;*/
    
}


/* Media queries */
@media screen and (min-width: 1440px) {
    section {
        height: 700px
    }
}

@media only screen and (max-width:768px) {
    .single_footer {
        margin-bottom: 30px;
    }

}
@media only screen and (max-width:768px) {
    .social_profile ul li a {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:480px) {
    .social_profile ul li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}
@media only screen and (max-width:768px) {
    .subscribe__input {
        padding: 0 50px 0 20px;
    }
}
@media only screen and (max-width:768px) {
    .subscribe__btn {
        right: 0px;
    }
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
        margin-top:100px;
    }
}
@media (max-width: 768px) {
    nav, article {
        width: 100%;
        height: auto;
        margin-top:50px;
    }
}




