table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #19d3c5;
}

.incoming {
    font-size: 15px; 
     color:#3A1ECC;
    font-weight: bold;
}
